#wall .tag-1 {
    display: none;
  }
  
  #wall .tag-2 {
    display: none;
  }
  
  #wall .tag-3 {
    display: none;
  }
  
  #wall .tag-4 {
    display: none;
  }
  
  #wall .tag-5 {
    display: none;
  }
  
  #wall .tag-6 {
    display: none;
  }
  
  #wall .tag-7 {
    display: none;
  }
  #wall .extra-1 {
    display: none;
  }
  
  #wall .extra-2 {
    display: none;
  }
  
  #wall .extra-3 {
    display: none;
  }
  
  #wall .extra-4 {
    display: none;
  }
  
  #wall .extra-5 {
    display: none;
  }
  
  #wall .extra-6 {
    display: none;
  }
  
  #wall .extra-7 {
    display: none;
  }
  